.input{
    width: 100%;
    height: 40px;

    border-radius: 1px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-color: #448aff;
    font-weight: 500;
    background-color : transparent;

    position: relative;

    color: white;


}